#macro(page)
#end

#macro(header $name $content $includeLogo)
#set ( $fileName = $report.displayData.get("CLIENT_LOGO") )


	<div class="header">
		<div style="position:absolute; top:.375in;">
		<img alt="img" style="
		#if($layout=="portrait")
		width:7.75in;
		#else
		width:10.25in; 
		#end
		height:.875in" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/headerBG_v2.png"/>
			<div>
<!--	DOCUMENT LOGO/TITLE-->
<!--				<img  alt="img" style="position:absolute; left:.375in; top:.81in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/logo_doc.png" width="158" height="20"/>-->
				<img alt="img" style="position:absolute; left:.375in; top:.435in; width:6.29in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/$name"/>
				<!--<div style="position:absolute; left:2.075in; top:.8in;"><h1>$name</h1></div>-->
				#if($includeLogo)
			      <div class="logo_container">
			        <div class="company_logo">
			          <table style="height:100%; width:100%; " border="0">
			            <tr>
			              <td><div><span></span><img alt="img" style="height:.695in;" src="$report.configurationData.get("global.url")/pdi-web/internal/repository/download/${fileName}" /></div></td>
			            </tr>
			          </table>
			        </div>
			      </div>
			      #end
			</div>
		</div>

		<div class="infoBar" style="position:absolute; top:117px;">
		#foreach($section in $content) 
			#set($sectionCount = $velocityCount)
				#foreach($item in $section)
					#if($velocityCount == 1 && $sectionCount == 1)
					<div style="float:left;">
				        <div class="infoBarItems">
				          <h2 class="h2Height" style="position:relative; padding-left:.13in; padding-right:15px; padding-bottom:3px; display:block;">$!item.get(0)</h2>
				          <!-- REMOVE Lines in info bar for KF rebrand
				          <div class="infoBarItem_hz_line"></div>
				          <div class="infoBarItem_vt_line"></div>  -->
				          <h4 style="position:relative; padding-left:.13in; padding-right:15px; padding-top:3px; display:block;">$!item.get(1)</h4>
				          <!--  <div class="infoBarItem_vt_line" style="right:-1px; height:13px; bottom:6px;"></div> -->
				        </div>
				      </div>
				     
					#else
						<div style="float:left;">
					        <div class="infoBarItems">
					          <h3 style="position:relative; display:block;" class="infoBarH3">$!item.get(0)</h3>
					           <!-- REMOVE Lines in info bar for KF rebrand
					          <div class="infoBarItem_hz_line"></div>
					          <div class="infoBarItem_vt_line"></div>  -->
					          <h4 style="position:relative; display:block;" class="infoBarH4">$!item.get(1)</h4>
					          <!--  <div class="infoBarItem_vt_line" style="right:-1px; height:13px; bottom:6px;"></div>  -->
					        </div>
					      </div>
					#end
				#end
		#end	

		    <hr />
		</div>
	</div>
	<hr  style="position:relative;	display: block;	clear: both;	visibility: hidden;"/>
#end

#macro(footer $date $status)
			
	<div class="footer">
		#if($status != 3)  
				<div style="position:absolute;"><img alt="img" style="position:absolute; left:0px; top:-800px;" height="800" width="796" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/DRAFT.png"/></div>
		#end
		<img alt="img" style="position:absolute; width:100%; height:.38in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/footerBG_v2.jpg"/>
		<div style="position:absolute; width:100%;">
			
			<div style="float:left; margin-top:11px; padding-left:.375in; position:absolute; width:4.5in;">
				$!report.labelData.get("COPYRIGHT")
				<!-- This is rediculous, but reports always seem to use serif fonts unless there is at least 1 unicode char. -->
				<span style="visibility:hidden;">ŋ</span>
			</div>
			<div style="float:right; padding-right:.375in;">
				<div style="margin-right:.375in; width:.0139in; height:.38in; display:inline-block; position:relative;"></div>
				<span class="footer_page_date_offset" style="position:relative; padding-right:10px;">$date</span> 
				<span class="footer_page_date_offset" style="position:relative;"> $!report.labelData.get("PAGE_OF_1") </span>
				<span class="footer_page_date_offset pagenumber" style="position:relative;"></span> 
				<span class="footer_page_date_offset" style="position:relative;"> $!report.labelData.get("PAGE_OF_2") </span>
				<span class="footer_page_date_offset pagecount" style="position:relative;"></span>
			</div> 
		</div>
	</div>
#end

#macro(footerDRI $date $status)
			
	<div class="footer">
		#if($status != 3)  
				<div style="position:absolute;"><img alt="img" style="position:absolute; left:0px; top:-800px;" height="800" width="796" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/DRAFT.png"/></div>
		#end
		<img alt="img" style="position:absolute; width:100%; height:.38in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/footerBG_v2.jpg"/>
		<div style="position:absolute; width:100%;">
			
			<div style="float:left; margin-top:11px; padding-left:.375in; position:absolute; width:2in; display:inline-block; line-height: 95%;">
				$!report.labelData.get("COPYRIGHT")
			<span style="visibility:hidden;">ŋ</span>
			</div>
			<div style="float:left; margin-top:11px; padding-left:2.55in; position:absolute; width:3in; display:inline-block; line-height: 95%;">
				$!report.labelData.get("COPYRIGHT_PEARSON")
			</div>
			<div style="float:right; padding-right:.375in;">
			<div style="margin-right:.375in; width:.0139in; height:.38in; display:inline-block; position:relative;"></div>
				<span class="footer_page_date_offset" style="position:relative; padding-right:10px;">$date</span> 
				<span class="footer_page_date_offset" style="position:relative;"> $!report.labelData.get("PAGE_OF_1") </span>
				<span class="footer_page_date_offset pagenumber" style="position:relative;"></span> 
				<span class="footer_page_date_offset" style="position:relative;"> $!report.labelData.get("PAGE_OF_2") </span>
				<span class="footer_page_date_offset pagecount" style="position:relative;"></span>
			</div> 
		</div>
	</div>
#end

#macro(headerLEI $name $content $includeLogo)
	<div class="header">
		<div style="position:absolute; top:9px;">
		<img alt="img" style="width:100%; height:94px;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/headerBG.png"/>
			<div>
<!--	DOCUMENT LOGO/TITLE-->
<!--				<img alt="img" style="position:absolute; left:.375in; top:.81in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/logo_doc.png" width="158" height="20"/>-->
				<img alt="img" style="position:absolute; left:47px; top:54px; width:6.29in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/$name"/>
	
				<!--<div style="position:absolute; left:2.075in; top:.8in;"><h1>$name</h1></div>-->
				#if(false)
			      <div class="logo_container">
			        <div class="company_logo">
			          <table style="height:100%; width:100%; " border="0">
			            <tr>
			              <td><div><span></span><img alt="img" style="height:.695in;" src="$report.configurationData.get("global.url")/pdi-web/internal/repository/download/${fileName}" /></div></td>
			            </tr>
			          </table>
			        </div>
			      </div>
			      #end
			</div>
		</div>
<!--		<div style="border-bottom: 2px dotted #84725E"></div>-->
		<div class="infoBar" style="position:absolute; top:98px;">
		#foreach($section in $content) 
			#set($sectionCount = $velocityCount)
				#foreach($item in $section)
					#if($velocityCount == 1 && $sectionCount == 1)
					<div style="float:left;">
				        <div class="infoBarItems">
				          <h2 class="h2Height" style="position:relative; padding-left:.13in; padding-right:15px; display:block;">$!item.get(0)</h2>
				          <!--  <div class="infoBarItem_hz_line"></div>
				          <div class="infoBarItem_vt_line"></div>-->
				          <h4 style="position:relative; padding-left:.13in; padding-right:15px; padding-top:3px; display:block;">$!item.get(1)</h4>
				          <!--   <div class="infoBarItem_vt_line" style="right:-1px; height:13px; bottom:6px;"></div> -->
				        </div>
				      </div>
				     				     
					#else
						<div style="float:left;">
					        <div class="infoBarItems">
					        <h3 style="position:relative; display:block;" class="infoBarH3">$item.get(0)</h3>
					        <!--   <div class="infoBarItem_hz_line"></div>
					          <div class="infoBarItem_vt_line"></div> -->
					          <h4 style="position:relative; display:block;" class="infoBarH4">$item.get(1)</h4>
					          <!--  <div class="infoBarItem_vt_line" style="right:-1px; height:13px; bottom:6px;"></div> -->
					        </div>
					      </div>
					#end
				#end
		#end	
			
		    <hr />
		</div>	
	</div>
	<hr  style="position:relative;	display: block;	clear: both;	visibility: hidden;"/>
	
#end

#macro(footerLEI $date $status)
			
	<div class="footer"  style="margin-left:10px; margin-right:10px;">
		#if($status != 3) 
				<div style="position:absolute;"><img alt="img" style="position:absolute; left:0px; top:-900px;" height="800" width="796" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/DRAFT.png"/></div>
		#end
		<img alt="img" style="position:absolute;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/footerBG_v2.jpg" width="100%" height="100%"/>
		<div style="position:absolute; width:100%;">
			
			<div style="float:left; margin-top:11px; padding-left:.375in; position:absolute; width:4.5in;">
				$!report.labelData.get("COPYRIGHT")
			</div>
			<div style="float:right; padding-right:.375in;">
				<div style="background-color:#FFFFFF; margin-right:.375in; width:.0139in; height:.38in; display:inline-block; position:relative;"></div>
				<span style="; position:relative; bottom:.078in; padding-right:10px;">$date</span> 
				<span style="; position:relative; bottom:.078in;"> Page </span>
				<span class="pagenumber" style="; position:relative; bottom:.078in;"></span> 
				<span style="; position:relative; bottom:.078in;"> of </span>
				<span class="pagecount" style="; position:relative; bottom:.078in;"></span>
			</div> 
		</div>
	</div>
#end


<!-- target's dashboard reports -->

#macro(headerTarget $name $content $includeLogo)
#set ( $fileName = $report.displayData.get("CLIENT_LOGO") )

	<div class="headerX" style="height:1.5in;">
		<div style="position:absolute; top:.0in; width:7.75in; padding-bottom:.06in; padding-top:.06in; background-color:#a6a6a6">
			<div>
				<img alt="img" style="float:left; top:2px; margin-left:.375in; height:26px" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/lockup_white_DashboardReportLeft.png"/>
				<img alt="img" style="float:right; top:2px; margin-right:.3in; height:26px" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/lockup_white_DashboardReportRight.png"/>
			</div>
		</div>

		<div class="infoBar">
		<span>
		<table class="tarInfoTable">
		#set($switch = 0)
		#foreach($section in $content) 
			#set($sectionCount = $velocityCount)
				#foreach($item in $section)
					#set($switch = ($switch + 1))
					#if($switch == 1)
						<tr>
					#end
	      			<td class="tarInfoLabel">
	      				$!item.get(1):
	      			</td>
	      			<td class="tarInfo">
	      				$!item.get(0)
	      			</td>
					#if($switch == "2")
						</tr>
						#set($switch = 0)
					#end
				#end
		#end	
		#if($switch == 1)
			</tr>
		#end
		</table>
		</span>
		<hr />
		</div>
	</div>
#end

#macro(footerTarget $date $status)
			
	<div class="footer">
		#if($status != 3)  
				<div style="position:absolute;"><img alt="img" style="position:absolute; left:0px; top:-800px;" height="800" width="796" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/DRAFT.png"/></div>
		#end
<!--		<img alt="img" style="position:absolute; width:100%; height:.38in;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/footerBG_v2.jpg"/>-->
		<div style="position:absolute; width:100%; text-align:center;">
				<p style="font-size:6pt;">$!report.labelData.get("COPYRIGHT")</p>
		</div>
	</div>
#end
