#macro(fitRecomendationAbyD)
		#set($CASE = 0)
		#if($report.scriptedData.get("HAS_FR_VALUE") == "1")
			#set ($CASE = $report.parseInt($report.scriptedData.get("FIT_RATING")))
		#else
			#set($index = $report.parseInt($report.scriptedData.get("CAN_FIT_IDX")))
			#if($index < 25)
	    		#set($CASE = 1)
	    	#elseif($index < 50)
	    		#set($CASE = 2)
	    	#elseif($index < 75)
	    		#set($CASE = 3)
	    	#elseif($index >= 75)
	    		#set($CASE = 4)
	    	#else
	    		#set($CASE = 0)
	    		#set($index = 0)
	    	#end
	    #end
	    <!--FIT RECOMMEND BAR== box_#if($CASE == 1)_1_on#elseoff#end.png -->
 <div>
   <h5 class="block">$!report.displayData.get("LABEL_FR") #if($CASE == 0) * $!report.labelData.get("INSUF_DATA") #end</h5>
 </div>
	    <div class="relative_div section" style="width:100%; height:10px;">
		    <div class="developmentBar">
		      <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($CASE == 1)${CASE}_on#elseif($CASE != 1)off#end.png" width="155" height="27"/>
		        <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($CASE == 1)on#elseif($CASE != 1)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_NOT_REC")</div></td></tr></table>
		      </div>
		      <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($CASE == 2)${CASE}_on#elseif($CASE != 2)off#end.png" width="155" height="27"/>
		        <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($CASE == 2)on#elseif($CASE != 2)off#end dev_box_2liner"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_REC_RES")</div></td></tr></table>
		      </div>
		      <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($CASE == 3)${CASE}_on#elseif($CASE != 3)off#end.png" width="155" height="27"/>
		       <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($CASE == 3)on#elseif($CASE != 3)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_REC")</div></td></tr></table>
		      </div>
		      <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($CASE == 4)${CASE}_on#elseif($CASE != 4)off#end.png" width="155" height="27"/>
		       <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($CASE == 4)on#elseif($CASE != 4)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_STR_REC")#if($CASE == 4 && $report.displayData.get("OPTION_FIT_GUAR"))*#end</div></td></tr></table>
		      </div>
		      <hr />
		    </div>
	    </div>
		<!-- This will not show up for Chinese as requested.9/6/2011 (IF_TERMINATED_2 should be blank for Chinese only) -->
	    <!-- Per CTS-148, unconditionally remove the guarantee verbiage
	    #if($CASE == 4 && $report.displayData.get("OPTION_FIT_GUAR"))
		    #if($!report.labelData.get("IF_TERMINATED_2") != "")
		    <div class="developmentBarNotes italic_notes">$!report.labelData.get("IF_TERMINATED_1") $!report.displayData.get("PARTICIPANT_NAME") $!report.labelData.get("IF_TERMINATED_2")</div>
			#end
		#end
		 -->
#end

#macro(candidateFitIndexAbyD)
	#set($index = $report.parseInt($report.scriptedData.get("CAN_FIT_IDX")))
			#if($index < 25)
	    		#set($CASE = 1)
	    	#elseif($index < 50)
	    		#set($CASE = 2)
	    	#elseif($index < 75)
	    		#set($CASE = 3)
	    	#elseif($index >= 75)
	    		#set($CASE = 4)
	    	#else
	    		#set($CASE = 0)
	    		#set($index = 0)
	    	#end
  <div>
   <h5>$!report.displayData.get("LABEL_CF") #if($CASE == 0) * $!report.labelData.get("INSUF_DATA") #end</h5>
 </div>
 <div class="section bodyText" style="position:relative; width:660px; height:60px; padding-top:5px;">
<!--   <img src="http://localhost:8080/pdi-web/images/tlt/png/TEMP_fitindex.png" width="727"/>-->
   <div style="position:absolute; border:#cec7c6 1px solid; width:100%; height:25px">
		<div style="position:absolute; background-color:#f7f3f7; left:4px; right:4px; top:4px; z-index:994; bottom:4px; width:652px; height:17px;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:10%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:20%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:30%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:40%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:50%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:60%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:70%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:80%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; border-right:#cec7c6 1px solid; width:90%; height:125%; z-index:995;"></div>
	   <div style="position:absolute; width:11%; top:31px; text-align:right;">10</div>
	   <div style="position:absolute; width:21%; top:31px; text-align:right;">20</div>
	   <div style="position:absolute; width:31%; top:31px; text-align:right;">30</div>
	   <div style="position:absolute; width:41%; top:31px; text-align:right;">40</div>
	   <div style="position:absolute; width:51%; top:31px; text-align:right;">50</div>
	   <div style="position:absolute; width:61%; top:31px; text-align:right;">60</div>
	   <div style="position:absolute; width:71%; top:31px; text-align:right;">70</div>
	   <div style="position:absolute; width:81%; top:31px; text-align:right;">80</div>
	   <div style="position:absolute; width:91%; top:31px; text-align:right;">90</div>

	   <img style="position:absolute; left:0px; top:3px; z-index:996;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_${CASE}_on.png?9" width="$index%" height="19"/>
	   #set($left1 = ($index * 660 / 100 - 21))
		<img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/fitIndexSq.png" style="position:absolute; background-repeat:no-repeat; left:${left1}px; top:5px; z-index:997;" width="19" height="15"/>
	   #set($left2 = ($index * 660 / 100 - 2))
	   <img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_${CASE}_on.png?20" style="position:absolute; left:${left2}px; top:3px; z-index:998;" width="3" height="30"/>
	   #set($left3 = ($index * 660 / 100 - 18))
	   <span class="h2" style="color:white; position:absolute; font-weight:bold; font-size:.9em; left:${left3}px; top:6px; z-index:999;">${index}</span>
   </div>

 </div>
#end

#macro(developmentBarAbyD)
	  <div>
	   <h5 class="block">$!report.displayData.get("LABEL_RR") #if($report.displayData.get("RED_RATING") == 0) * $!report.labelData.get("INSUF_DATA") #end</h5>
	 </div>
	 <div class="relative_div section" style="width:100%; height:10px;">
      <div class="developmentBar">
        <!--(BEHIND) ALL REMAIN VISIBLE -->
        <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($!report.displayData.get("RED_RATING") == 1)1_on#elseif($!report.displayData.get("RED_RATING") != 1)off#end.png" width="155" height="27"/>
          <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($!report.displayData.get("RED_RATING") == 1)on#elseif($!report.displayData.get("RED_RATING") != 1)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_DEV_PLC")</div></td></tr></table>
        </div>
        <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($!report.displayData.get("RED_RATING") == 2)2_on#elseif($!report.displayData.get("RED_RATING") != 2)off#end.png" width="155" height="27"/>
          <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($!report.displayData.get("RED_RATING") == 2)on#elseif($!report.displayData.get("RED_RATING") != 2)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_BROADEN")</div></td></tr></table>
        </div>
        <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($!report.displayData.get("RED_RATING") == 3)3_on#elseif($!report.displayData.get("RED_RATING") != 3)off#end.png" width="155" height="27"/>
          <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($!report.displayData.get("RED_RATING") == 3)on#elseif($!report.displayData.get("RED_RATING") != 3)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_PREPARE")</div></td></tr></table>
        </div>
        <div class="dev_bar_box"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/box_#if($!report.displayData.get("RED_RATING") == 4)4_on#elseif($!report.displayData.get("RED_RATING") != 4)off#end.png" width="155" height="27"/>
         <table style="height:100%; width:100%; position:relative; top:-26px;"><tr><td class="dev_box_title_#if($!report.displayData.get("RED_RATING") == 4)on#elseif($!report.displayData.get("RED_RATING") != 4)off#end"><div class="devBoxTextDiv">$!report.displayData.get("LABEL_READY")</div></td></tr></table>
        </div>
        <hr />
      </div>
      </div>
#end

#macro(customModelAbyD $report, $suppressEssential)
<!-- <div class="relative_div hz_line" style="width:727px; left:-10px;"></div>-->
	#set($showEssential = true)
	#if($suppressEssential == true)
		#set($showEssential = false)
		#set($y = 0)
		#set($superfactorCount = $!report.displayData.get("MODEL_SUPERFACTORS_COUNT"))
			#foreach($sf in [0..$y.parseInt($superfactorCount)])
				#set($competencyCount = "MODEL_SUPERFACTOR_$!{sf}_COMPETENCY_COUNT")		
				#set($w = 0)
				#foreach($cm in [0..$w.parseInt($report.displayData.get($competencyCount))])
					#if($report.displayData.get("MODEL_SUPERFACTOR_${sf}_COMPETENCY_${cm}_ESSENTIAL"))
						#set($showEssential = true)
					#end
				#end
			#end
	#end

  <div class="section">
    <div style="position:relative; left:-.14in;">
	#if($showEssential)
		<div style="float:right"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/star_on.png" width="14" height="13"/><span class="italic_notes" style="padding-left:4px; padding-right:10px;">$!report.labelData.get("IND_ESS_COMP")</span> </div>
	#end
	<h5 class="block" style="padding-left:12px;">$!report.displayData.get("LABEL_LS")</h5>
	<table width="700" style="position:relative; top:2px; padding-top:2px;">
          <!--Top lines of grid-->
          <tr>
            <td style="border-left:1px #e7e3de solid; width:50%; border-top:1px #e7e3de solid; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
            <td style="width:50%; border-top:1px #e7e3de solid; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
          </tr>
      		#set($superfactorCount = $!report.displayData.get("MODEL_SUPERFACTORS_COUNT"))
      		#set($j = 0)
      		#set($z = 0)
      		
      		#foreach($sf in [0..$z.parseInt($superfactorCount)])   		
      			#set($j = $j + 1)
      			#set($odd = (0 != $j % 2))
          		#set($competencyCount = "MODEL_SUPERFACTOR_$!{sf}_COMPETENCY_COUNT")
          		#set($superfactorName = "MODEL_SUPERFACTOR_$!{sf}_DISPLAY_NAME")
				
      				#if($odd)
      					<tr>
      				#end


		            <td style="#if($odd)border-right:1px #e7e3de solid;#end width:50%; vertical-align:top; padding-bottom:4px;">

		              #set($k = 0)
		              #set($count = $!report.displayData.get($competencyCount))
		              #set($cc = 0)
		              #foreach($cm in [0..$cc.parseInt($count)])
		              #set($k = $k + 1)
		              #set($competencyName = "MODEL_SUPERFACTOR_"+$!{sf}+"_COMPETENCY_"+$!{cm}+"_DISPLAY_NAME")
		              #set($competencyValue = "MODEL_SUPERFACTOR_"+$!{sf}+"_COMPETENCY_"+$!{cm}+"_VALUE")
		              #set($essential = "MODEL_SUPERFACTOR_"+${sf}+"_COMPETENCY_"+${cm}+"_ESSENTIAL")
		             #if($!report.displayData.get($essential))
		              	#set($flag = "on")
		              #else
		              	#set($flag = "off")
		              #end
		              <div class="relative_div section" style="width:330px; display:block;">
		              	#if($k == 1)
		                	<h7 class="block" style="position:relative; top:-3px; font-weight:bold; padding-left:12px;">$!report.displayData.get($superfactorName)</h7>
		                #end
		                <div style="float:left; padding-right:7px; padding-left:12px;"><img style="position:relative; top:-2px;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/star_$!{flag}.png" width="14" height="13"/></div>
		                <div class="bodyText" style="float:left; min-width:170px;">$!report.displayData.get($competencyName)</div>
		                <div style="position:relative; float:right; width:125px;">
			               <div style="display:inline;"><img style="position:relative; bottom:4px;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/scale_$!{report.displayData.get($competencyValue)}.png" width="96" height="10"/></div>
			               <div class="bodyTextScore" style="position:relative; display:inline; bottom:5px;">$!{report.displayData.get($competencyValue)}</div>
		                </div>
		                
		              </div>
		              <br/><div style="clear:both;"></div>
		              #end <!-- foreach cm -->
		             </td>

      				#if(!$odd)
      					</tr>
      					#if($j != (${superfactorCount} + 1))
      					<tr>
				            <td style="border-top:1px #e7e3de solid; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
				            <td style="border-top:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
				        </tr>
				        #end
      				#end

      		#end
     		#if($odd)
     		<!--  they ended on a 1,3,5 or something, need to fill up the row -->
     				<td></td>
     			</tr>
     		#end

      	</table>
      </div>
      <div class="italic_notes" style="padding-top:10px; width:665px;">$!report.displayData.get("LABEL_LEG_LEAD")</div>
      </div>
#end


#macro(tltLEAbyD)
	<!-- If there is LEI data do the Leadership Experience band, otherwise skip it  -->
	<!-- LEI_MISSING comes from ReportInputDataHelper -->
	#if(! $report.displayData.get("LEI_MISSING"))
        <div class="section" style="float:left; padding-right:20px; padding-top:45px;">
          <h5 style="padding-bottom:5px;">$!report.displayData.get("LABEL_LE_TLT") </h5>
          <!--render 1-->
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="green_$!report.scriptedData.get("LEI_OPERATIONS")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; background-color:#FFFFFF">$!report.labelData.get("BUS_OP")</div>
          </div>
          <!--end render 1 and repeat?-->
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="green_$!report.scriptedData.get("LEI_SIT_TOUGH_CHAL")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("HAND_TOUGH_CHAL")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="green_$!report.scriptedData.get("LEI_HIGH_VIS")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("HIGH_VIS")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="green_$!report.scriptedData.get("LEI_BD_GROW_BUS")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("GROW_BUS")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="green_$!report.scriptedData.get("LEI_PERSONAL")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("PERSONAL_DEV")</div>
          </div>
        </div>
	#end
#end


#macro(tltLSAAbyD $showCognitives)
	<!-- If there is GPI data do the Leadership Style/Apptitude band, otherwise skip it  -->
	<!-- GPI_MISSING comes from ReportInputDataHelper -->
	#if(! $report.displayData.get("GPI_MISSING"))
		<div class="section" style="float:left; padding-right:20px; padding-top:45px;">
          <h5 style="padding-bottom:5px;">$!report.displayData.get("LABEL_LSA")</h5>
          <!--render 1-->
          <!--
          suppress Problem Solving under $!report.displayData.get("LABEL_LSA") if following is true-->
          #if($report.scriptedData.get("ZGEST") == "0" || $report.scriptedData.get("ZGEST") == "" && $showCognitives == true)

          #else

          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("ZGEST")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("PROB_SOLV")</div>
          </div>
          #end

          <!--end render 1 and repeat?-->
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("INTELLECTUAL_ENGMT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("INT_ENGAGE")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("DETAIL_ORIENT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("ATT_TO_DETAIL") </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("FACIL_LEADERSHP")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("IMPACT_INFL") </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("INTER_PERSONAL_ENGMT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("INT_PERS_ENGAGE") </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("DRIVE")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("ACHIEVE_DRIVE") </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("INDIV_ORIENT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("ADVANCE_DRIVE")  </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("COLLECTIVE_ORIENT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("COLL_ORIENT") </div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="darkblue_$!report.scriptedData.get("POSITIVITY")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("FLEX_ADAPT") </div>
          </div>
        </div>
	#end
#end


#macro(tltLIAAbyD)
	<!-- If there is CS data do the Leadership Interest band, otherwise skip it  -->
	<!-- CS_MISSING comes from ReportInputDataHelper -->
	#if(! $report.displayData.get("CS_MISSING"))
        <div class="section" style="float:left; padding-right:20px; padding-top:45px;">
          <h5 style="padding-bottom:5px;">$!report.displayData.get("LABEL_LI_TLT")</h5>
          <!--render 1-->
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="blue_$!report.scriptedData.get("CAREER_GOALS")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("LEAD_ASPIRATION")</div>
          </div>
          <!--end render 1 and repeat?-->
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="blue_$!report.scriptedData.get("CAREER_DRIVERS")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("CAREER_DRIV")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="blue_$!report.scriptedData.get("LEARNING_ORIENT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("LEARN_ORIENT")</div>
          </div>
          <div class="relative_div bodyText" style="padding-top:3px;">
            <div style="position:absolute;"><div class="blue_$!report.scriptedData.get("EXPERIENCE_ORIENT")"></div></div>
            <div style="position:relative; left:19px; width:190px; top:0px; ">$!report.labelData.get("EXPER_ORIENT")</div>
          </div>
        </div>
	#end
#end


#macro(standardRatingAbyD $iid $header $content $includeRating $rating $firstElement)
        <table class="section block">
           <tr><td style="position:relative; top:1px;"><img id="img$!iid" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/section_line.png" width="700" height="13" class="section_line_odd"/></td></tr>

        	<tr><td><div style="position:relative; min-width:1.53in; float:left; padding-right:7px; 
        	font-family: 'Arial Unicode MS', san-serif; font-size:.82em; color:#00759d; font-weight:bold;">

        	<span style="position:relative; top:3px;">$!header</span>
			</div>

	        #if($includeRating == true && $rating != 0)
	        <div class="scale_and_title_div"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/ramp_$!{rating}.png" width="131" height="27"/>
	            <div class="ramp_score_title">
	            #if ($rating == 4)
	              $!report.labelData.get("V_STRONG_CAPS")
	              #elseif ($rating == 3)
	              $!report.labelData.get("STRONG_CAPS")
	              #elseif ($rating == 2)
	              $!report.labelData.get("MIXED_CAPS")
	              #elseif ($rating == 1)
	              $!report.labelData.get("WEAK_CAPS")
	              #elseif ($rating == 0)
	              $!report.labelData.get("N_A")
	              #end </div>
          	    </div>
	          #end
	          <div class="ramp-score-text bodyText block">$!content<br/><br/></div>
	          </td>
	          
			</tr>
	          
	        </table>
	        <br/>
#end



#macro(derailRatingAbyD $header $text $includeRating $rating $firstElement)
<table class="section block">
       <tr><td style="position:relative; top:1px;"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/section_line.png" width="700" height="13" class="section_line_odd"/></td></tr>

        	<tr><td colspan="2"><div style="position:relative; min-width:1.53in; float:left; padding-right:7px; 
        	font-family: 'Arial Unicode MS', san-serif; font-size:.82em; color:#00759d; font-weight:bold;">

        	<span style="position:relative; top:3px;">$!header</span>
			</div>

        #if($includeRating)
		    <div class="scale_and_title_div"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/ramp_dr_$!{rating}.png" width="131" height="27"/>
            <div class="ramp_score_title">
             #if ($rating == 4)
              $!report.labelData.get("MIN_CAPS")
              #elseif ($rating == 3)
              $!report.labelData.get("LOW_CAPS")
              #elseif ($rating == 2)
              $!report.labelData.get("MOD_CAPS")
              #elseif ($rating == 1)
              $!report.labelData.get("HIGH_CAPS")
              #elseif ($rating == 0)
              $!report.labelData.get("N_A")
              #end</div>
            </div>
         #end
         	 <div class="ramp-score-text bodyText block">$!text<br/><br/></div>
          </td>
			</tr>
	          
	        </table>
	        <br/>
#end

#macro(reportCompetenciesAbyD)

	<div class="middle" style="page-break-before: always;">
    <div style="position:relative; left:-.14in;">

		<div style="float:right"><img src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/star_on.png" width="14" height="13"/><span class="italic_notes" style="padding-left:4px; padding-right:10px;">$!report.labelData.get("IND_ESS_COMP")</span> </div>

        <h5 style="padding-left:12px;">Competencies</h5>
        <table style="position:relative; top:2px; padding-top:2px; width:600;">
          <!--Top lines of grid-->
          <tr>
            <td style="border-left:1px #e7e3de solid; width:50%; border-top:1px #e7e3de solid; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
            <td style="width:50%; border-top:1px #e7e3de solid; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
          </tr>
          #set($superfactorCount = $!report.displayData.get("MODEL_SUPERFACTORS_COUNT"))
      		#set($j = 0)
      		#set($count = 0)
      		#foreach($sf in [0..$count.parseInt($superfactorCount)])
      			#set($j = $j + 1)
      			#set($odd = (0 != $j % 2))

          		#set($competencyCount = "MODEL_SUPERFACTOR_$!{sf}_COMPETENCY_COUNT")
          		#set($superfactorName = "MODEL_SUPERFACTOR_$!{sf}_DISPLAY_NAME")

      				#if($odd)
      					<tr>
      				#end

		            <td style="#if($odd)border-right:1px #e7e3de solid;#end width:50%; vertical-align:top; padding-bottom:4px;">
            #set($k = 0)
            #set($counter2 = 0)
              #foreach($cm in [0..$counter2.parseInt($!report.displayData.get($competencyCount))])
	       	  #set($essential = "MODEL_SUPERFACTOR_"+${sf}+"_COMPETENCY_"+${cm}+"_ESSENTIAL")
              #if($!report.displayData.get($essential))
              	#set($flag = "on")
              #else
              	#set($flag = "off")
              #end
              #set($k = $k + 1)
              #set($competencyName = "MODEL_SUPERFACTOR_$!{sf}_COMPETENCY_$!{cm}_DISPLAY_NAME")
              #set($competencyValue = "MODEL_SUPERFACTOR_$!{sf}_COMPETENCY_$!{cm}_VALUE")
              <div class="relative_div section" style="width:330px; display:block;">
              #if($k == 1)
                <div class="h7" style="display:block; padding-left:12px;">$!report.displayData.get($superfactorName)</div>
                #end
                <div style="float:left; padding-right:7px; padding-left:12px;"><img style="position:relative; top:-2px;" src="$report.configurationData.get("global.url")/pdi-web/images/tlt/png/star_$!{flag}.png" width="14" height="13"/></div>
                <div class="bodyText" style="float:left; width:275px;">
                	$!report.displayData.get($competencyName) #if($!report.displayData.get($competencyValue) != "0.0") $!report.displayData.get($competencyValue) #end
                	#set($competencyChildCount = "MODEL_SUPERFACTOR_"+${sf}+"_COMPETENCY_"+${cm}+"_COUNT")
                	#set($i = 0)
                	#set($counter3 = 0)
                	#set($compCount = $counter3.parseInt($report.displayData.get($competencyChildCount)))
                	#if($compCount > 0)
                		#set($ie = $compCount - 1)
	                	#foreach($cc in [0.. $ie])

	                		#set($competencyChildDisplayName = "MODEL_SUPERFACTOR_"+${sf}+"_COMPETENCY_"+${cm}+"_CHILD_"+${cc}+"_DISPLAY_NAME")
	                		<div style="width:20px"></div><i> &#8226; $!report.displayData.get(${competencyChildDisplayName})</i>
	                		#set($i = $i + 1)

	                	#end
                	#end
                </div>
              </div>
              <br/><div style="clear:both"></div>
              #end
              </td>
            		#if(!$odd)
      					</tr>
      					#if($j != (${superfactorCount} + 1))
      					<tr>
				            <td style="border-top:1px #e7e3de solid; width:50%; border-right:1px #e7e3de solid;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
				            <td style="border-top:1px #e7e3de solid; width:50%;"><div class="relative_div section" style="width:330px; height:12px"></div></td>
				        </tr>
				        #end
      				#end

      		#end
     		#if($odd)
     		<!--  they ended on a 1,3,5 or something, need to fill up the row -->
     				<td></td>
     			</tr>
     		#end
        </table>
      </div>
     </div>
#end

#macro(lsiAbyD)
     <!--Leadership Competencies Index-->
      <div class="relative_div section" style="width:100%;"><br/><span class="h6" style="display:inline-block; padding-right:5px;">$!report.displayData.get("LABEL_LSI"):</span><span style="font-size: 2em; color: #14a1dd; font-weight:normal;">$!report.scriptedData.get("LEADER_SKL_IDX")</span></div>

      <div class="italic_notes" style="padding-top:15px;">$!report.labelData.get("LSI_LGND")</div>

     <div class="relative_div hz_line" style="width:700px; left:-10px;"></div>
#end

#macro(howToUse)
     <div class="relative_div" style="padding-top:40px; width:660px; page-break-before: always;">
     <h5>$!report.labelData.get("USING_THIS_RPT")</h5><br /><br />
     <div class="bodyText section">
	    <b><h8>$!report.labelData.get("USE_ALL_INF_AVAIL_1")</h8></b><br />
	    $!report.labelData.get("USE_ALL_INF_AVAIL_2")
	    $!report.labelData.get("USE_ALL_INF_AVAIL_3")
		$!report.labelData.get("USE_ALL_INF_AVAIL_4")
		$!report.labelData.get("USE_ALL_INF_AVAIL_5")
		$!report.labelData.get("USE_ALL_INF_AVAIL_6")
		$!report.labelData.get("USE_ALL_INF_AVAIL_7")
		<br /><br />
	</div>
	<div class="bodyText section">	
		<b><h8>$!report.labelData.get("INTERP_RESULTS_CONTXT_1")</h8></b><br />
		$!report.labelData.get("INTERP_RESULTS_CONTXT_2")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_3")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_4")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_5")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_6")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_7")
		$!report.labelData.get("INTERP_RESULTS_CONTXT_8")
		<br /><br />
	</div>
	<div class="bodyText section">
		<b><h8>$!report.labelData.get("RES_BASED_LEAD_CHAL_1")</h8></b><br />
		$!report.labelData.get("RES_BASED_LEAD_CHAL_2")
		$!report.labelData.get("RES_BASED_LEAD_CHAL_3")
		$!report.labelData.get("RES_BASED_LEAD_CHAL_4")
		<br /><br />
	</div>
	<div class="bodyText section">
		<b><h8>$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_1")</h8></b><br />
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_2")
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_3")
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_4")
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_5")
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_6")
		$!report.labelData.get("RES_VAL_SPEC_PURP_TIME_7")
		<br /><br />
	</div>
	<div class="bodyText section">
		<h8>$!report.labelData.get("ENSURE_CONFID_1")</h8><br />
		$!report.labelData.get("ENSURE_CONFID_2")
		$!report.labelData.get("ENSURE_CONFID_3")
		$!report.labelData.get("ENSURE_CONFID_4")
		$!report.labelData.get("ENSURE_CONFID_5")
		$!report.labelData.get("ENSURE_CONFID_6")
		$!report.labelData.get("ENSURE_CONFID_7")
	</div>
</div>
#end
#macro(appendAdditional)
	$!report.labelData.get("ADDITIONAL_DRI_NOTES")
#end
