.DRAFT {
	position:absolute;
	width:796px;
	height:1036px;
}
* {
	margin:0;
	padding:0;
	border:none;
	border-collapse:collapse;
}
 @page {
 margin: 0in;
/*size: landscape;*/
}
.portraitContainer {
	position:relative;
	width:816px;
	height:1056px;
}
.landscapeContainer {
	position:relative;
	height:816px;
	width:1056px;
}
.h2 {
	font-family: "Arial Unicode MS", san-serif;
	font-size: 1.2em;
	color: #00929f;
	position:absolute;
	top:13px;
	font-weight:normal;
}
h2 {
	font-family: "Arial Unicode MS", san-serif;
	font-size: 1.2em;
	color: #00929f;
	font-weight:normal;
}
h3 {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.65em;
	font-weight:lighter;
	color:#000000;
}
.h3 {
	position:absolute;
	top:24px;
}
h4 {
	font-size: .65em;
	font-family: "Arial Unicode MS", san-serif;
	font-weight:lighter;
	color:#c7c2bc;
}
.h4 {
	position:absolute;
	top:40px;
}
h5 {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.96em;
	color:#005568;
}
h6 {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.82em;
	color:#7c6a55;
	font-weight:normal;
}
.h6 {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.82em;
	color:#7c6a55;
	font-weight:bold;
}
.h7 {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.82em;
	color:#000000;
	font-weight:bold;
}
.copywrite {
	position:absolute;
	left:47px;
	top:20px;
	font-family: "Arial Unicode MS", san-serif;
	font-size:.66em;
	color:#FFFFFF;
}
.date_and_page_indicator {
	position:absolute;
	top:20px;
	right:47px;
	font-family: "Arial Unicode MS", san-serif;
	font-size:.66em;
	color:#FFFFFF;
}
.logo {
	height:75px;
}
.doc_title{
	position:absolute;
	left:208px; 
	top:52px;
	font-family: "Arial Unicode MS", san-serif;
	font-size:1.2em;
	color:#FFFFFF;
}
.bodyText {
	font-family: "Arial Unicode MS", san-serif;
	font-size:.75em;
	font-weight:normal;
	color:#000000;
}
.dotted_line {
	position:absolute;
	bottom:-3px;
	width:796px;
	height:2px;
	vertical-align:top;
}
.header {
	position:absolute;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/headerBG.jpg');
	background-repeat:no-repeat;
	height:94px;
	top:10px;
	left:10px;
	width:796px;
}
.footer {
	position:absolute;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/footerBG.jpg');
	background-repeat:no-repeat;
	bottom:10px;
	left:10px;
	right:10px;
	height:48px;
}
.infoBar {
	position:relative;
	padding-top:130px;
	padding-bottom:20px;
	left:47px;
	width:758px;
}
.infoBarItems{
position:relative; 
height:32px;
}
.infoBarItem_hz_line{
position:absolute; 
width:100%; 
margin-left:0; 
margin-right:0; 
height:1px; 
background-color:#d8d2c9;
}
.infoBarItem_vt_line{
position:absolute; 
bottom:10px; 
width:1px; 
height:12px; 
background-color:#d8d2c9;
}
.infoBarH4{
padding-left:10px; 
padding-right:10px;
padding-top:1px;
}
.infoBarH3{
position:relative; padding-left:10px; padding-right:10px; height:22px; bottom:-8px;
}
div.infoBar hr {display: block; clear: left; margin: -0.66em 0;
  visibility: hidden;
}
.quickInfo {
	float:right;
	margin-top:5px;
	margin-right:7px;
}
.alignRight {
	text-align:right;
}
.bold {
	font-weight:bold;
}
.middle {
	position:relative;
}
</style>
<!-- REPORT SPECIFIC CSS -->
<style type="text/css" media="all">

.section {
	position:absolute;
	width:796px;
	left:10px;
}
.section_line {
	position:absolute;
	bottom:11px;
	z-index:999;
	width:100%;
}
.section_left {
	position:absolute;
	color:#16515b;
	width:200px;
}
.section_middle {
	top:-16px;
	position:absolute;
	width:485px;
	left:215px;
}
.section_right {
	position:absolute;
	width:75px;
	right:0px;
}
.groupName {
	z-index:98;
	position:absolute;
	left:1px;
	top:3px;
	width:90px;
	font-size:.62em;
}
.scaleTitle {
	z-index:98;
	position:relative;
	text-align:right;
	height:18px;
	bottom:14px;
	right:4px;
	font-size:.62em;
}
.rdiScore { 
	position:absolute;
	font-family: "Arial Unicode MS", san-serif;
	font-weight:bold;
	text-align:center;
	color:#000000;
	font-size:.62em;
	background-color:#eeeeee; 
	font-style:normal; 
	border:#000000 1px solid; 
	height:71%; 
	width:74px; 
	margin:1px;
	top:2px; 
	right:3px; 
	text-align:center;
}
.lineHeaders {
	top:2px;
	position:absolute;
	color:#000000;
	font-size:.55em;
	font-style:italic;
}
.lineHeaders_legend {
	top:9px;
	position:absolute;
	color:#FFFFFF;
	font-size:8px;
	font-style:italic;
	font-weight:normal;/*vertical-align: middle;*/
}
.blue_left {
	position:absolute;
	left:-215px;
	width:215px;
	height:18px;
	z-index:97;
	background-color:#FFFFFF;
}
.blue_left_odd {
	position:absolute;
	left:-215px;
	width:215px;
	height:18px;
	z-index:97;
	background-image:url('http://localhost:8080/pdi-web-reporting/images/tlt/png/row_odd_L.png');
}
.blue_center {
	position:absolute;
	left:0px;
	height:18px;
	width:485px;
}
.blue_right {
	position:absolute;
	width:159px;
	right:-159px;
	height:18px;
	z-index:97;
	background-color:#FFFFFF;
}
.blue_right_odd {
	position:absolute;
	width:159px;
	right:-159px;
	height:18px;
	z-index:97;
	background-color:#e5e2de;
	/*background-image:url(http://localhost:8080/pdi-web-reporting/images/tlt/png/row_odd_R.png);*/
}
.darker_vertical_lines {
	position:absolute;
	background-color:#b3c3c1;
	width:1px;
	height:725px;
	clear: both;
	display:inline;
	left:0px;
	top:-15px;
}
.vertical_lines {
	position:absolute; 
	/*background-color:#cee0e3;*/
	/*background-image:url(http://localhost:8080/pdi-web-reporting/images/tlt/png/blue_trans.png);*/
	width:1px;
	top:-4px;
	height:715px;
}
.horizontal_lines {
	position:absolute;
	background-color:#cee0e3;
	top:7px;
	height:1px;
	width:490px;
}
ul.noBullet {
	list-style:none;
	padding-left:0px;
	margin-top:1em;
}
li.row {
	margin-top:0em;
	height:18px;
	margin-top:0em;
}
li.row_odd {
	background-color:#e5e2de;
	margin-top:0em;
	height:18px;
	margin-top:0em;
}
.ng {
	position:relative; 
	width:25px;
	left:3px;
	bottom:14px;
	height:18px;
	z-index:98;
	text-align:center;
	font-size:.62em;
}
.gp {
	position:relative; 
	width:25px;
	bottom:32px;
	left:43px;
	height:18px;
	z-index:98;
	text-align:center;
	font-size:.62em;
}
.lines_behind {
	position:absolute;
	left:215px;
	width:485px;
	z-index:2;
}
.wisker_img {
	position:absolute;
	top:-1px;
}
.
.dot_img{
	position:absolute;
	width:12px; 
	height:12px; 
}
.percentiles_key {
	color:#333333;
	position:relative;
	width:505px;
	left:215px;
	text-align:center;
}
.percentiles_key_legend {
	color:#FFFFFF;
	position:absolute;
	top:1px;
	width:100%;
	text-align:center;
	font-size:.42em;
}
.percentiles_key_legend_title {
	font-family: "Arial Unicode MS", san-serif;
	color:#FFFFFF;
	position:absolute;
	bottom:5px;
	left:10px;
	font-size:.52em;
	font-style:italic;
}
.lines_inFront {
	position:absolute;
	left:200px;
	z-index:899;
}
.legend {
	position:absolute;
	bottom:-10px;
	left:210px;
	width:596px;
	height:32px;
	z-index:999;
}
.top {
	position:absolute;
	width:100%;
	height:90px;
}
.sp_img_container{
	position:absolute;
	padding-left:.5px;
	padding-right:.5px;
	text-align:left;
	top:1px; 
	height:18px;
}