html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	vertical-align: baseline;
	line-height: 14px;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

* {
	font-family: Arial, "Arial Unicode MS", sans-serif;
}
div.coverPage{
	page-break-after: always;
	overflow:hidden;
	height:7.45in;
}
div.header {
	display: block; 
	position: running(header);
	height:2.2in;
} 
	
div.footer {
	display: block; 
	position: running(footer);
	height:.38in;
	font-family: Arial, "Arial Unicode MS", sans-serif;
	/*color:#FFFFFF; */
	color:#000000; 
	font-size:7pt;
	} 

@page {
	margin-top: 2.2in !important;
	margin-bottom: 1.13in !important;
	margin-left: .375in !important;
	margin-right: .375in !important;
	font-family: Arial, "Arial Unicode MS", sans-serif !important;
	
	@top-center { content: element(header) } 
	@bottom-center { content: element(footer) }
	@font-face {
	    -fs-pdf-font-embed: embed;
	    -fs-pdf-font-encoding: Identity-H;
	}
	 
}


