.infoTitle {
	font-size: 8pt;
	font-weight:lighter;
	color:#c7c2bc;
}
.word_wrap
{
    white-space: pre-wrap; /* css-3 */
     white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
     white-space: -pre-wrap; /* Opera 4-6 */
     white-space: -o-pre-wrap; /* Opera 7 */
     word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.bodyText {
	font-family: arial, Helvetica,sans-serif;
	font-size:.7em;
	font-weight:normal;
	color:#000000;
}
.bodyTextScore {
	font-family: arial, Helvetica,sans-serif;
	font-size:.75em;
	font-weight:normal;
	color:#000000;
}
/*Attach class="block" to h1, h2, etc to make it act like a default header (line break before and after always)*/
.block{
	display:block;
	padding-top:1px;
	padding-bottom:1px;
}
h1,
.h1 {
	font-family: arial, Helvetica,sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #ffffff;
	display:inline;
	font-weight:normal;
}
.h2Height{
	height:22px;
	}
h2,
.h2 {
	font-family: arial, Helvetica,sans-serif;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #00929f;
	font-weight:normal;
	display:inline;
}
h3,
.h3 {
	font-family: arial, Helvetica,sans-serif;
	font-size:.65em;
	line-height: 1.2em;
	font-weight:lighter;
	color:#000000;
	display:inline;
}
h4,
.h4 {
	font-size: .65em;
	line-height: 1.2em;
	font-family: arial, Helvetica,sans-serif;
	font-weight:lighter;
	color:#675C53;
	display:inline;
}
h5,
.h5 {
	display:inline;
	font-family: arial, Helvetica,sans-serif;
	font-size:.96em;
	line-height: 1.2em;
	color:#005568;
	display:inline;
	font-weight:bold;
}
h6,
.h6 {
	font-family: arial, Helvetica,sans-serif;
	font-size:.82em;
	line-height: 1.2em;
	color:#7c6a55;
	font-weight:normal;
	display:inline;
}
h7,
.h7 {
	font-family: arial, Helvetica,sans-serif;
	font-size:.82em;
	line-height: 1.2em;
	color:#005568;
	font-weight:bold;
	display:inline;
}
h8,
.h8 {
	font-family: arial, Helvetica,sans-serif;
	font-size: 9pt;
	line-height: 1.2em;
	color: #00929f;
	font-weight:bold;
	display:inline;
}

.section {
	page-break-inside: avoid;
}
.middle {
	position:relative;
	padding-left:.375in;
	padding-right:.3in;
}
.paddingTop{
	padding-top:.3in;
}
.logo_container {
	position:absolute;
	top:-3px;
	right:2px;
	/*border:1px solid #c2b2b9;*/
	background-alpha:0;
	padding-top:.06in;
	padding-bottom:.06in;
	padding-left:.06in;
	padding-right:.06in;

	height:.68in;
	margin-top:.06in;
	margin-bottom:.06in;
}
.company_logo {
	position:relative;
	height:67px;
	text-align: center;
}
.infoBar {
	position:relative;
	padding-top:10px;
	padding-bottom:20px;
	padding-left:.23in;
	width:7.52in;
}
.infoBarItems {
	position:relative;
	height:32px;
}
.infoBarItem_hz_line {
	position:absolute;
	width:100%;
	z-index:-1;
	margin-left:0;
	margin-right:0;
	height:1px;
	background-color:#d8d2c9;
}
.infoBarItem_vt_line {
	position:absolute;
	bottom:7px;
	width:1px;
	height:12px;
	background-color:#d8d2c9;
}
.infoBarH4 {
	padding-left:.13in;
	padding-right:10px;
	padding-top:3px;
}
.infoBarH3 {
	position:relative;
	padding-left:.13in;
	padding-right:10px;
	padding-bottom:3px;
	height:22px;
	top:9px;
}
div.infoBar hr {
	position:relative;
	display: block;
	clear: left;
	margin: -0.66em 0;
	visibility: hidden;
}
div.developmentBar hr {
	display: block;
	clear: left;
	margin: 1em 0;
	visibility: hidden;
}
.relative_div {
	position:relative;
}
.scale_and_title_div {
	display:block; padding-top:10px;
	float:left; clear:left;
}
.ratingHeaderContainer{
	float:left;
	clear:both;
	width:1.58in;
}
.section_line_first {
	position:absolute;
	left:-14px;
	right:-10px;
}
.section_line_odd {
	position:absolute;
	left:-14px;
	right:-15px;
}

.quickInfo {
	float:right;
	margin-top:5px;
	margin-right:7px;
}
.alignRight {
	text-align:right;
}
.bold {
	font-weight:bold;
}
.italic_notes {
	font-family: arial, Helvetica,sans-serif;
	font-style:italic;
	font-weight:bold;
	font-size:.55em;
	padding-bottom:10px;
	padding-top:10px;
	width:697px;
}
.hz_line {
	border-bottom:1px #d8d2c9 solid;
}
li {
	margin-left:15px;
}
.dev_bar_box {
	float:left;
	width:155px;
	height:27px;
	margin-right:6px;
	border:1px solid #d8d2c9;
	padding:2px;
}
.developmentBar {
	position:relative;
	height:50px;
	width:100%;
}
.developmentBarNotes {
	position:relative;
	border-bottom:1px #d8d2c9 solid;
	width:727px;
	padding-right:10px;
	padding-left:10px;
}
.dev_box_title_off {
	width:100%;
	position:relative;
	text-align:center;
	vertical-align:middle;
	height:100%;
	font-family: arial, Helvetica,sans-serif;
	font-size:.65em;
	color:#000000;
}
.dev_box_title_on {
	width:100%;
	position:relative;
	text-align:center;
	vertical-align:middle;
	height:100%;
	font-family: arial, Helvetica,sans-serif;
	font-size:.65em;
	color:#FFFFFF;
}
.devBoxTextDiv{
	padding-bottom:4px;
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	word-wrap: break-word;
	text-transform:uppercase;
}
.dev_box_2liner{
	top:-28px;
}
.ramp_score_title {
	font-family: arial, Helvetica,sans-serif;
	font-size:.49em;
	font-weight:bold;
	color:#000000;
	position:relative;
	top:0px;
	width:147px;
	text-align:center;
}
.developmentFocusText {
	width:700px;
	padding-bottom:15px;
}
.section_text {
	position:relative;
	top:4px;
	left:175px;
	width:500px;
	min-height:.85in;
}
.pagenumber:before {
content: counter(page);
}

.pagecount:before {
content: counter(pages);
}
/*
	Integration Grid print styles
*/
.nameCell{
	position:relative;
	display:table-cell;
	width:1.8in;
	text-align:right;
	height:inherit;
	vertical-align:inherit;
}
.groupName{
	font-family: arial, Helvetica,sans-serif;
	font-size: .9em;
	font-style:italic;
	color: #000000;
	font-weight:bold;
	height:inherit;
	display:table-cell;
	vertical-align:inherit;
}

.scoreCell{
	position:relative;
	display:table-cell;
	width:.78in;
	max-width:.78in;
	min-width:.78in;
	text-align:center;
	height:inherit;
	vertical-align:inherit;
}
.simulationColumnTitle{
	font-weight:lighter;
	color:#675C53;
	text-align:center;
	vertical-align:inherit;
	}
.halfScoreAvgCell{
	position:relative;
	display:table-cell;
	width:.35in;
	background-color:#c0c0bf;
	text-align:center;
	height:inherit;
	vertical-align:inherit;
}
.halfScoreFinalCell{
	position:relative;
	display:table-cell;
	width:.35in;
	background-color:#a5a5a5;
	text-align:center;
	height:inherit;
	vertical-align:inherit;
}
.halfScoreCell{
	position:relative;
	display:table-cell;
	width:.35in;
	text-align:center;
	height:inherit;
	vertical-align:inherit;
}

.competencyRow{
	position:relative;
	display:inline-block;
	height:21px;
	vertical-align:middle;
}
.firstCompBorder{
	border-top:1px solid #a5a5a5;
}
.lastCompBorder{
	border-bottom:1px solid #a5a5a5;
}
.odd{
	background-color: #EEEEEE;
}
.footer_page_date_offset{
	bottom:.079in;
}
div.quill-text ul {
    display: block;
	list-style: disc outside none;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
div.quill-text ol {
	display: block;
	list-style: decimal outside none;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
div.quill-text strong {
	font-weight: bold;
}
div.quill-text em {
	font-style: italic;
}
div.quill-text u {
	text-decoration: underline;
}