body, table, td, div {
	font-family: sans-serif;
}
.footerContainer {
	display: block;
	position: absolute;
	bottom:-36px;
	height:32px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 18px;
}
table {
	border-collapse:separate;
	border-spacing:3px 3px;
}
.footerBorder{
	float:left;
	width: 100%;
	height: 22px;
	border-width: 2px;
    border-style: solid;
    border-color: #323363;
}
.logoTD{
	float:right;
	diplay:block;
	padding-bottom:2px;
	padding-right:5px;
}
.titleContainer {
        height: 25px;
        width: 100%;
        border-width: 2px;
        border-style: solid;
        border-color: #323363;
        font-family: Arial;
        font-size: 18px;
}
.titleLeft {
        float: left;
		height: 100%;
		width:245px;
        color:#000000;
        vertical-align:middle;
        background-color: #FFFFFF;
}
.titleLeft {
        float:left;
        height: 100%;
        width: 250px;
        color: #000000;
        vertical-align:middle;
        background-color: #FFFFFF;
}
#titleRight {
	height: 100%;
	width: 66%;
	float: right;
	color: #FFFFFF;
	background-color: #323363;
}
.footerLeft {
        float: left;
        padding-top:4px;
		height: 100%;
		width:245px;
        color: #000000;
        font-size:12px;
        text-align:left;
}
.footerRight {
        height: 20px;
        padding-top:4px;
        text-align:right;
        width: 67%;
		float: right;
        color: #FFFFFF;
        background-color: #323363;
        font-size:12px
}

.lilPadding {
        padding-left: 10px;
        padding-right: 10px;
}
#infoContainer {
        width:100%;
        font-size:12px;
}
#infoLeftColumn {
        padding-top:10px;
        padding-bottom:10px;
        font-weight:bold;
        color:#666666;
        width:246px;
        float:left;
}
#infoRightColumn {
        padding-top:10px;
        padding-bottom:10px;
        font-weight:bold;
        width:50%;
        float:left;
}
#dataContainer {
		position:relative;
		top:-50px;
        width:100%;
        clear:both;
}
.sectionImage {
        width:30px;
}
.thickHRule {
        float:left;
        width:100%;
        height:6px;
        background-color:#CCCCCC;
}
.rightColumn {
        width:200px;
        text-align:center;
}
.middleColumn {
        width:150px;
        text-align:right;
}
.headerCell {
        height:24px;
        vertical-align:middle;
        font-weight:bold;
        font-size:12px;
        color:#666666;
        text-align:right;
        width:200px;
        padding-right:10px;
}
.scoreCell {
        border-color:#999999;
        border-style:solid;
        border-width:thin;
        width:70px;
        height:24px;
        padding-right:3px;
        padding-left:3px;
        padding-top: 0px;
        vertical-align:middle;
}
.scoreImg {
        width:15px;
        height:15px;
}
table {
        background-color:#FFFFFF;
}
td {
        text-align:right;
        vertical-align:top;
}

.categoryTable {
        width:100%;
        height:100%;
}
.categoryScoreTable {
        border-color:#CCCCCC;
        border-style:solid;
        border-width:thin;
        width:100%;
        height:100%;
}
.sectionImage {
        vertical-align:bottom;
        padding-bottom:10px;
        padding-top:20px;
        text-align:center;
}
.yellowSquare {
        background-color: #fff600;
        border-color:#CCCCCC;
        border-style:solid;
        border-width:thin;
        width:12px;
        height:12px;
        float:right;
}
.blueSquare {
        background-color: #0066ff;
        border-color:#CCCCCC;
        border-style:solid;
        border-width:thin;
        width:12px;
        height:12px;
}
.redSquare {
        background-color: #ff0000;
        border-color:#CCCCCC;
        border-style:solid;
        border-width:thin;
        width:12px;
        height:12px;
}
.orangeSquare {
        background-color: #ff8a00;
        border-color:#CCCCCC;
        border-style:solid;
        border-width:thin;
        width:12px;
        height:12px;
}
.box_x {
        visibility: hidden;
}
.box_1_1{
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}
.box_1_2 {
        visibility: visible;
        margin: 0 auto 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_1_3 {
        visibility: visible;
        margin: 0 0 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}
.box_2_4 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}
.box_2_5 {
        visibility: visible;
        margin: 0 auto 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue.png');
}
.box_2_6 {
        visibility: visible;
        margin: 0 0 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}
.box_3_7 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}
.box_3_8 {
        visibility: visible;
        margin: 0 auto 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_3_9 {
        visibility: visible;
        margin: 0 0 0 auto;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}
.box_1,
.dr_box_9 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}
.box_2 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_3,
.dr_box_8 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}
.box_4,
.dr_box_7,
.dr_box_6,
.dr_box_5,
.dr_box_4 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}
.box_5,
.dr_box_3,
.dr_box_2,
.dr_box_1 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue.png');
}
.box_6 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}
.box_7 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}
.box_8 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_9 {
        visibility: visible;
        margin: 0 auto 0 0;
        background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}