/*@page {
 margin: 0in;
size: landscape;
}*/

body {
	font-family: sans-serif;
}

/*#container {
	width:100%;
	height:100%;
	font-size:10px;
	position:relative;
	page-break:after always;
}*/

/*
Original content of container:
	background-color:#FF9900
	width:1160px;
	height:700px;
	margin-top: 10px;
	font-size:10px;
*/
/*
.landscapeContainer {
	position:relative;
	height:816px;
	width:1056px;
}
*/

.pagenumber:before {
content: counter(page); 
}

.pagecount:before {
content: counter(pages);  
}

body {
	font-family: sans-serif;
}

#titleContainer {
	position:relative;
	height: 24px;
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: #323363;
	font-family: sans-serif;
	font-size: 18px;
	margin-top:28px;
}
.footerContainer {
	display: block; 
	position: running(footer);
	height:28px;
	font-family: sans-serif;
}
.logoTD{
	float:right;
	diplay:block;
}
/*
.footerBorder {
	width: 100%;
	border-width: 2px;
	border-style: solid;
	border-color: #666666;
}
*/
#titleLeft {
	float: left;
	height: 100%;
	width: 38%;
	color: #323363;
	background-color: #FFFFFF;
}
#titleRight {
	height: 100%;
	width: 62%;
	float: right;
	color: #FFFFFF;
	background-color: #323363;
}
.footerLeft {
	position:relative;
	display:inline;
	top:5px;
	height: 100%;
	color: #000000;
	background-color: #FFFFFF;
	font-size:12px;
	text-align:left;
}
.footerRight {
	position:relative;
	display:inline;
	height: 100%;
	top:5px;
	color: #000000;
	background-color: #FFFFFF;
	font-size:12px;
	text-align:right;
	padding-left:120px;
}
.lilPadding {
	padding-left: 10px;
	padding-right: 10px;
}
#infoContainer {
	width:100%;
	font-size:12px;
	font-family: sans-serif;
}
#infoLeftColumn {
	padding-top:10px;
	padding-bottom:10px;
	color:#323363;
	width: 38%;
	float:left;
}
#infoRightColumn {
	padding-top:10px;
	padding-bottom:10px;
	color: #000000;
	width:61%;
	float:left;
}
#dataContainer {
	position:relative;
	page-break-inside: avoid;
	width:100%;
	clear:both;
	font-family: sans-serif;
}
.headerRow {
	float:left;
	width:100%;
}
.headerItem {
	width:20px;
	height:150px;
	padding-bottom:3px;
}
.candidateRow {
	float:left;
	width:100%;
}
.item {
	margin:4px;
}
.itemParticipant {
	font-weight:normal;
	font-size:12px;
	color:#000000;
	height:16px;
	text-align:left;
}
.thickHRule {
	float:left;
	width:100%;
	height:6px;
	background-color:#CCCCCC;
}
.trHRule {
	height:4px;
	width:100%;
	background-color:#CCCCCC;
}
.thickVRule {
	background-color:#CCCCCC;
	width:6px;
}

.thickVRuleInvisible {
	/*background-color:#FFFFFF;*/
	width:6px;
}
.categoryText {
	color:#FFFFFF;
	text-align:left;
	font-weight:bold;
	height:24px;
	vertical-align:bottom;
}


td {
	text-align:center;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.box_1 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}
.box_2 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_3 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}

.box_6 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}
.box_7 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}
.box_8 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/orange.png');
}
.box_9 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}

.box_4,
.drBox_7,
.drBox_6,
.drBox_5, 
.drBox_4{
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}

.box_5,
.drBox_3,
.drBox_2,
.drBox_1 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue.png');
}


.drBox_8 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}

.drBox_9 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
} 


.ppBox_1 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/red.png');
}

.ppBox_2,
.ppBox_3 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/yellow.png');
}

.ppBox_4,
.ppBox_5,
.ppBox_6 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green.png');
}

.ppBox_7,
.ppBox_8,
.ppBox_9 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue.png');
}


.grey_on {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/grey_on.png');
}
.grey_off {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/grey_off.png');
}
.blue_4,
.blue_5,
.blue_6,
.blue_7,
.blue_8,
.blue_9
 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue_on.png');
}
.blue_1,
.blue_2,
.blue_3
 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/blue_off.png');
}
.green_4,
.green_5,
.green_6,
.green_7,
.green_8,
.green_9 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green_on.png');
}
.green_1,
.green_2,
.green_3 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/green_off.png');
}
.darkblue_3,
.darkblue_4,
.darkblue_5,
.darkblue_6,
.darkblue_7
 {
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/darkblue_on.png');
}
.darkblue_1,
.darkblue_2,
.darkblue_8,
.darkblue_9
{
	visibility: visible;
	background-image: url('http://localhost:8080/pdi-web-reporting/images/tlt/png/darkblue_off.png');
}
.topLine {
	border-top: 1px solid #CCC;
	padding-top: 2px;
	padding-bottom: 1px;
}
.scoreImg {
	position:relative;
	top:3px;
	display:inline-block;
	margin: 0 auto 0 auto;
	width:15px;
	height:15px;
}
.box_x {
	visibility: hidden;
}
.even{
	background-color: #FFFFFF;
}
.odd{
	background-color: #EEEEEE;
}